.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}


.logobb{
  height: 130px;
  width: 170px;

}

.title-body {
  height: 75vh;
}

.menu-pic {
  height: 75vh;
  width: 50vw;
  border-radius: 25px;
}

.title-header {
  padding: 4vh;
}

.title-text {
  padding: 4vh;
}

.navbar {
  background-color: #F40102;
}

.menubutton {
  padding-left: 23vw;
  font-size: 2.5vh;
}
.nav-link {
margin: 25px;
 }
 .navbar-nav {
  margin-right: 50%;
 }

/* homepage font and text */
.card-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  margin: 2px;
}
.card-title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  padding-top: 5px;
}
h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
}
.nav-link {
  font-family: 'Noto Sans', sans-serif;
  font-size: 45px;
  display: inline;
}
.title-header {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}
.title-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  padding-top: 5px;
}



 /* Media coding for mobile/ smaller screens */
@media screen and (max-width: 400px) {
  .menu-pic {
    height: 40vh;
    width: 80vw;
  }
  .title-header {
    font-family: 'Pacifico', cursive;
    font-size: 30px;

  }
  .title-text {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    padding-top: 1px;
}
h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
}
h5 {
font-family: 'Noto Sans', sans-serif;
font-size: 20px;
}
.card-text {
  font-family: 'Noto Sans', sans-serif;
 font-size: 15px;
}
.logobb {
  height: 20vh;
  width: 30vh;

}
}
div {
  border: none;
}